.st-contextmenu {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 999;
}
.st-contextmenu--visible {
  display: block;
}

ul.st-contextmenu {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
